body {
	background-color: wheat;
	text-align: center;
}
.card {
	display: table-row;
	max-height: 420px;
	width: 400px;
	overflow: scroll;

}
.card-title {

}
.titleBar {
	text-align: center;
}
.cards {
		margin-top: 12%;
}
